*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body,html{
    width: 100%;
    height: 100%;
    touch-action: manipulation;
    background: linear-gradient(to right, #373b44, #4286f4);
    overflow: hidden;
}


#myCanvas{
    position: absolute;
    border: black 4px solid;
    border-radius: 5%;
    z-index: 0;
    box-shadow: 10px 10px 5px #00000086;
    
    
}

.walter{
    border-radius: 5%;
}

.Button,.OptionButton,.Game2Button{
    position: relative;
    display: block;
    background: #ffffffe4;  
    color: black;
    box-shadow: -15px 10px #00000067 ;
    border: 4px solid black ;
    border-radius: 2vw;
    width: 25%;
    height: 10%;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.Button:hover ,.OptionButton:hover , .Game2Button:hover{
    border: 3px solid #ffffff;
}

.Button:active, .OptionButton:active, .Game2Button:active{
    border: 3px solid #637e9c;
    box-shadow: -8px 3px #00000067 ;
    transform: translateY(4px);
}

.OptionText{
    border:4px solid black;
    box-shadow: -15px 10px #00000023 ;
}



#Message{
    position:relative;
    margin-top: 16vh;
    
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5vh;
    color: white;
}



@media screen and (min-width: 801px){

    #canvascontainer{
        padding: 140px 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: 100%;
    }

    #myCanvas{
        height: 65%;
        width :37.8%;
        
    }
    

    #buttonContainer{
        position:absolute;
        width: 130%;
        height: 100%;

        padding-top: 20vh;
        padding-left: 3vw;
    }

    .Button{
        margin-bottom: 40px;
    }  

    #Options{
        
        position:absolute;
        width: 100%;
        height: 100%;

        padding-top: 6vh;
        padding-left: 0.5vw;
    }

    #MessageSection{
        margin-left: -0.5vw;
        width: 38%;
    }

    #Message{
        position:relative;
        margin-top: 16vh;
    }    
    

    #Back{
        position: relative;
        margin-left: 2vw;
        height: 5%;
        width: 7%;
        
    }

    #Player1Color{
        position: relative;
        margin-top: 5.2vh;
        margin-left: 13.5vw;
        height: 3%;
        width: 12%;
    }

    #P1Submit{
        position: relative;
        margin-top: -3.8vh;
        margin-left: 27vw;
        height: 4%;
        width: 7%;
    }

    #Player2Color{
        position: relative;
        margin-top: 5.2vh;
        margin-left: 13.5vw;
        height: 3%;
        width: 12%;
    }

    #P2Submit{
        position: relative;
        margin-top: -3.8vh;
        margin-left: 27vw;
        height: 4%;
        width: 7%;
    }


    #ColumnsContainer{
        position:absolute;
        height: 100%;
        width: 100%;
    }
    
    .columnButton{
        position: relative;
        height:60%;
        width:4.3%;
        float:left;
        margin-left: 0.9vw;
        opacity:0;
    }

    #GameBack{
        position: relative;
        top:1vh;
        left: 1vw;
        height: 80%;
        width: 12%;
    }

    #Controls{
        position: absolute;
        margin-top: 56vh;
        height: 8%;
        width: 37.7%;
    }

    .Game2Button{
        position: relative;
        top: 1vh;
        left:4.5vw;
        margin-left: 1vw;
        height: 80%;
        width: 32%;
    }


}