*{
    padding: 0;
    margin: 0;
}

body,html{
    width: 100%;
    height: 100%;
    touch-action: manipulation;
    background: linear-gradient(to right, #373b44, #4286f4);
    overflow: hidden;
}


#myCanvas{
    position: absolute;
    outline: black 4px solid;
    z-index: 0;
    
}

.Button,.OptionButton,.Game2Button{
    position: relative;
    display: block;
    background: #94bbe9;  
    box-shadow: -15px 10px #00000067 ;
    border: 3px solid black ;
    border-radius: 2vw;
    width: 25%;
    height: 5%;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}


.Button:hover ,.OptionButton:hover , .Game2Button:hover{
    border: 3px solid #ffffff;
}

.Button:active, .OptionButton:active, .Game2Button:active{
    border: 3px solid #637e9c;
    box-shadow: -8px 3px #00000067 ;
    transform: translateY(4px);
}


@media screen and (min-width: 801px){

    #canvascontainer{
        padding: 140px 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
        height: 100%;
    }

    #myCanvas{
        height: 65%;
        width :37.8%;
        
    }
    

    #buttonContainer{
        position:absolute;
        width: 130%;
        height: 100%;

        padding-top: 23vh;
        padding-left: 3vw;
    }

    .Button{
        margin-bottom: 40px;
    }  

    #Options{
        position:absolute;
        width: 130%;
        height: 100%;

        padding-top: 6vh;
        padding-left: 0.5vw;
    }
    

    #Back{
        position: relative;
        height: 5%;
        width: 7%;
        
    }

    #Player1Color{
        position: relative;
        margin-top: 5.2vh;
        margin-left: 13.5vw;
        height: 3%;
        width: 8%;
    }

    #P1Submit{
        position: relative;
        margin-top: -3.8vh;
        margin-left: 27vw;
        height: 4%;
        width: 7%;
    }

    #Player2Color{
        position: relative;
        margin-top: 5.2vh;
        margin-left: 13.5vw;
        height: 3%;
        width: 8%;
    }

    #P2Submit{
        position: relative;
        margin-top: -3.8vh;
        margin-left: 27vw;
        height: 4%;
        width: 7%;
    }


    #ColumnsContainer{
        position:absolute;
        height: 100%;
        width: 100%;
    }
    
    .columnButton{
        position: relative;
        height:60%;
        width:4.3%;
        float:left;
        margin-left: 0.9vw;
        opacity:0;
    }

    #GameBack{
        position: relative;
        top:1vh;
        left: 1vw;
        height: 80%;
        width: 12%;
    }

    #Controls{
        position: absolute;
        margin-top: 56vh;
        height: 8%;
        width: 37.7%;
    }

    .Game2Button{
        position: relative;
        top: 1vh;
        left:4.5vw;
        margin-left: 1vw;
        height: 80%;
        width: 32%;
    }


}


@media screen and (max-width: 800px){
    #myCanvas{
        width: 100%;
        height: 100%;
    }

    #canvascontainer{
    
        height: 100%;
    }
    

    #ColumnsContainer{
        height: 100%;
    
    }


    #GameBack{
        position: absolute;
        top:88vh;
        left: 2vw;
        height: 10%;
        width: 15%;
    }

    .Game2Button{
        top: 88vh;
        left: 20vw;
        width: 37%;
        height: 10%;
        margin-left: 1vw;
    }

    .Button{

        height:8%;
        width:75%;
    }

    .columnButton{
        position: relative;
        z-index:1;
        height:95%;
        width:12.06%;
        float:left;
        margin-left:1.8%;
        opacity:0;
    }

    #Start{
        top:27vh;
        left:16vw;
    }
    
    #DRM{
        top:38vh;
        left:16vw;
    }
    
    
    #Opt{
        top:49vh;
        left:16vw;
    }

    #Back{
        position: relative;
        top: 3vh;
        left:5vw;
        height: 5%;
        width: 20%;  
    }

    #Player1Color{
        position: relative;
        top: 20.7vh;
        left:37vw;
        height: 3%;
        width: 60%;
    }

    #P1Submit{
        position: relative;
        top:23.7vh;
        left:18vw;
        height: 4%;
        width: 70%;
    }

    #Player2Color{
        position: relative;
        top:27.7vh;
        left: 37vw;
        height: 3%;
        width: 60%;
    }

    #P2Submit{
        position: relative;
        top:30.7vh;
        left:18vw;
        height: 4%;
        width: 70%;
    }

    
}

